body{
    color: white;
    background-color: #002a3f;
    padding: 0;
    margin: 0;
}


.content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:300px;
    width:400px;
    background: #048ccbb9;
    border-radius: 30px;
    
}

form{
    margin-top: 30px;    
}

.input{
    margin-top: 10%;
    height: 60px;
    width: 300px;
    border-radius: 30px;
    background: rgb(234, 182, 40);
}

.upload-box{
    font-size: 17px;
    margin-top: 5%;
    margin-left: 8%;
    outline: none;
}
.train{
    margin-top: 4.5rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    border-radius: 15px;
    background: rgb(234, 182, 40);
}

.cm-table{
    border: 2px solid;
    width: 50%;
}

.metrics{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:200px;
    width:80%;
    background: #048ccbb9;
    border-radius: 30px;
}

#acc{
    position: relative;
    background: rgb(234, 182, 40);
    top:20%;
    left: 2%;
    height: 60%;
    width: 30%;
    border-radius: 20px;
    text-align: center;
    float:left;
}
#acc H3{
    background-color: #002a3f;
}

#prec{
    position: relative;
    background: rgb(234, 182, 40);
    top:20%;
    left: 5%;
    height: 60%;
    width: 30%;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}

#prec H3{
    height: auto;
    background-color: #002a3f;
}

#rec{
    position: relative;
    background: rgb(234, 182, 40);
    top:20%;
    right: 2%;
    height: 60%;
    width: 30%;
    border-radius: 20px;
    text-align: center;
    float:right;
}

#rec H3{
    height: auto;
    background-color: #002a3f;
}
